
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Poppins:wght@400;500&family=Ubuntu:wght@300;400;500;600;700&display=swap');

.logo-svg-after path {
    stroke-dasharray: 1000 !important;
    stroke-dashoffset: 0 !important;
	fill:#0844a3 !important;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}
